<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>Article Number: <%= @article.id %></p>
  <p>Article Title: <%= @article.title %></p>
  <p>Article Content: <%= @article.content %></p>
  <form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
</body>
</html>